<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.0.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net45" />
  <package id="MadMilkman.Ini" version="1.0.5.0" targetFramework="net45" />
  <package id="PriorityQueue" version="0.1.0" targetFramework="net45" />
  <package id="Quartz" version="2.3.3" targetFramework="net45" />
  <package id="Rcon" version="1.0.0.0" targetFramework="net45" />
  <package id="SSQLib" version="0.9.2" targetFramework="net45" />
</packages>